.ssimg {
    width:200px;
    height: 200px;
}
.swipercon {
   margin-bottom: 17px;
    background-color: #e8f0f8;
}
.ssh {
    font-size: 27px;
}
.ssp {
    font-size: 14px;
}
.ssmh {
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    font-size: 28px;
    padding-top: 30px;
}