.Carousel {
    width: 100vw;
}
.saras_message {
    width: 100vw;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.hupi {
    width: 100vw;
    padding: 30px;
}

.hupin {
    width: 100vw;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 30px;
}
.hupcw {
    width: 95vw;
    margin-bottom: 14px;
}

.twd {
    width: 100vw;
}
